@charset "utf-8";
/* CSS Document */
.context{
	width: 100%;
	height: 700px;
}
.regbos {
	background-color: #CCC;
	height: 550px;
	width: 700px;
	margin-top: 100px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border: 1px solid #333;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
}
.regbostop {
	background-color: #60a5fa;
	height: 150px;
	width: 700px;
	font-family: "微软雅黑";
	color: #FFF;
	line-height: 150px;
}
.regbosdi {
	background-color: #f9fafb;
	height: 400px;
	width: 700px;
	font-family: "微软雅黑";
	font-size: 24px;
}

